html {
    /* Remove touch delay: */
    touch-action: manipulation;
}

body {
    /* Light mode background color for what is not covered by the egui canvas,
    or where the egui canvas is translucent. */
    background: #909090;
}

@media (prefers-color-scheme: dark) {
    body {
        /* Dark mode background color for what is not covered by the egui canvas,
        or where the egui canvas is translucent. */
        background: #404040;
    }
}

/* Allow canvas to fill entire web page: */
html,
body {
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

/* Position canvas in center-top: */
canvas {
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}
